body,html,header,SMheader,CMheader,basis{
	margin:0;
	padding:0;
}
::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}
html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}
body {
	background-color: #fbeee6;
}
/*логотип*/
.header {
	background-color: rgba(251, 238, 230, 1);
	position: fixed;
    width: 100%;
    height: 85px;
	z-index: 2;
}
p.SMheader{
	font-size:38px;
	color: #b55d6b;
	font-family: TYPOGRAPH PRO;
	text-align:center;
	margin-top:-10px;
	/*****************************************************/
	overflow:hidden;
	text-align:center;
}
p.SMheader:before,
p.SMheader:after{
	content:"";
	display:inline-block;
	vertical-align:middle;
	width:400px;
	height:2px;
	background-color:#b55d6b;
	position:relative;
	
	-webkit-animation: mymove 2s infinite;
	-webkit-animation-delay: none;
	animation: mymove 2s infinite;
	animation-delay: none;
}
p.SMheader:before{
	margin-left:-100%;
	left: -14px;
}
p.SMheader:after{
	margin-right: -100%;
	right: -15px;
}
/************************************************************/
p.CMheader{
	font-size:18px;
	color: #b55d6b;
	text-align:center;
	font-family: Roboto Light;
	margin-top:-44px;
}
.Navheader{
	list-style: none;
	padding:0;
}
.Navheader li a {
	display: block;
	text-decoration: none;
}
/*меню*/
.navigation {
	background-color: rgba(232, 215, 210, 1);
	position: fixed;
	top: 85px;
	width: 100%;
	height: 60px;
	z-index:2;
}
ul.menu{
	list-style:none;
	margin: 0;
	padding: 0;
	padding-left:0;
}
ul.menu li{
	float:left;
	list-style-position: inside;
	font: 18px 'Roboto Light', sans-serif;
	padding: 10px;
	display: inline-block;
	padding: 20px 50px;
	margin: 0;
}
ul.menu li a{
	text-decoration:none;
	color: #2a2a2a;
}
ul.menu li a:visited{
	color: #2a2a2a;
}
ul.menu li a:hover{
	color:#b55d6b;
}
ul.menu li a:after{
	display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #b55d6b;
    transition: width .3s ease-in-out;
}
ul.menu li a:hover:after, a:focus:after {
    width: 30px;
}
/*Основа*/
.content{
	position:absolute;
	top: 145px;
	width: 100%;
	height: 10200px;
	z-index:1;
}
#clear {
     clear: both;
}
.left1gor{

	width:815px;
	height:458px;
}
.right1gor{

	width:815px;
	height:458px;
}
.left2ver{
	
	width:483px;
	height:860px;
}
.right2ver{
	
	width:483px;
	height:860px;
}
.text_top{
	font-size:30px;
	color: #3d3d3d;
	font-family: TYPOGRAPH PRO;
	margin-bottom:10px;
	margin-top:10px;
	overflow:hidden;
}
.text_top span{
	display:inline-block;
	vertical-align:middle;
}
.text_top:after {
    content: "";
	display: inline-block;
    vertical-align: middle;
	width: 100%;
    height: 4px;
	background-color: #3d3d3d;
    position: relative;
	
}
.text_top:after {
	margin-right: -100%;
	right: -14px;
	
}
#text_big_bottom{
	font-size:20px;
	color: #3d3d3d;
	font-family: TYPOGRAPH PRO;
	margin-bottom:10px;

}
#text_littel_bottom{
	font-size:18px;
	color: #3d3d3d;
	font-family: TYPOGRAPH PRO;
	margin-top:-10px;
}
#img1{
	position:absolute;
	top:60px;
	left:110px;
}
#img2{
	position:absolute;
	top:686px;
	left:512px;
}
#img3{
	position:absolute;
	top:1312px;
	left:205px;
}
#img4{
	position:absolute;
	top:2340px;
	left:512px;
}
#img5{
	position:absolute;
	top:2966px;
	left:110px;
}
#img6{
	position:absolute;
	top:3592px;
	left:500px;
}
#img7{
	position:absolute;
	top:4620px;
	left:110px;
}
#img8{
	position:absolute;
	top:5246px;
	left:430px;
}
#img9{
	position:absolute;
	top:5872px;
	left:180px;
}
#img10{
	position:absolute;
	top:6498px;
	left:825px;
}
#img11{
	position:absolute;
	top:7526px;
	left:110px;
}
#img12{
	position:absolute;
	top:8152px;
	left:500px;
}
#img13{
	position:absolute;
	top:8778px;
	left:110px;
}
#img14{
	position:absolute;
	top:9404px;
	left:430px;
}
