body,header,SMheader,CMheader{
	margin:0;
	padding:0;
	outline: 0;
}
/*Тело*/
body {
	background-image:url(../images/Starting_Page.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-color: #fbeee6;
}
/*Шапка*/
.header {
	background-color: rgba(255,255,255,0.49);
	position: fixed;
    width: 100%;
    height: 100px;
}
p.SMheader{
	font-size:44px;
	color: #fec6cf;
	font-family: TYPOGRAPH PRO;
	text-align:center;
	margin-top:-10px;
/*********************************/	
	overflow:hidden;
	text-align:center;
}
p.SMheader:before,
p.SMheader:after{
	content:"";
	display:inline-block;
	vertical-align:middle;
	width:400px;
	height:2px;
	background-color:#f3d7db;
	position:relative;
}
p.SMheader:before{
	margin-left:-100%;
	left: -14px;
}
p.SMheader:after{
	margin-right: -100%;
	right: -15px;
}
/***********************************/
p.CMheader{
	font-size:24px;
	color: #fec6cf;
	text-align:center;
	font-family: Roboto Light;
	margin-top:-44px;
}
.Navheader{
	list-style: none;
	padding:0;
}
.Navheader li a {
	display: block;
	text-decoration: none;
}
/*Меню*/
.footer {
	background-color: rgba(255,255,255,0.49);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 85px;
}
ul.menu{
	list-style:none;
	margin: 0;
	padding: 0;
	padding-left:0;
}
ul.menu li{
	float:left;
	list-style-position: inside;
	font: 18px 'Roboto Light', sans-serif;
	padding: 10px;
	display: inline-block;
	padding: 30px 50px;
	margin: 0;
}
ul.menu li a{
	text-decoration:none;
	color: #2a2a2a;
}
ul.menu li a:visited{
	color: #2a2a2a;
}
ul.menu li a:hover{
	color:#b55d6b;
}
ul.menu li a:after{
	display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #b55d6b;
    transition: width .3s ease-in-out;
}
ul.menu li a:hover:after, a:focus:after {
    width: 30px;
}





